.nav {
  grid-area: n;
  background-color: rgb(255, 208, 0);
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: rosybrown;
  text-decoration: none;
}

